@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
#root{
  width:100vw;
  height:100vh; 
}
body{
  background-color: #282c34;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
 font-family: 'Fredoka One', cursive;
  color:#10cbff;
  text-align:center;
  margin:20px;
  font-size:70px;
  margin-top:80px;
  margin-bottom:40px;
}
